$white : hsl(0, 0%, 100%);
$black : hsl(0, 0%, 0%);
$dark-gray : hsl(0, 0%, 55%);
$darker-gray : hsl(0, 0%, 41%);
$dark-desaturated-blue : hsl(32, 10%, 55%);
$dark-grayish-blue : hsl(232, 10%, 55%);
$neutral-gray : hsl(210, 4%, 67%);
$neutral-white : hsl(0, 0%, 100%);
$cyan-green : hsl(169, 42%, 69%);